@font-face {
    font-family: "FrutigerLTStd-BoldCn";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/FrutigerLTStd-BoldCn.eot?iefix") format("eot"), url("../fonts/FrutigerLTStd-BoldCn.woff") format("woff"), url("../fonts/FrutigerLTStd-BoldCn.ttf") format("truetype"), url("../fonts/FrutigerLTStd-BoldCn.svg#webfontpmW1GynW") format("svg");
}